:root {
    --black: #000;
    --white: #fff;
    --blue: #0084FD;
    --ligthblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --color-text: #738CA2;
    --font-xs: 14px;
    --font-text: 16px;
    --font-s: 24px;
    --font-m: 34px;
    --font-l: 42px;
    --font-xl: 50px;
    --font-xxl: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* TEXT */
.title-l {
    font-size: var(--font-l);
    font-weight: bold;
}

.title-m {
    font-size: var(--font-m);
    font-weight: bold;
}

.title-s {
    font-size: var(--font-s);
    font-weight: bold;
}

.text-blue {
    color: var(--blue);
}

.text-white {
    color: var(--white);
}

.text-yellow {
    color: var(--yellow);
}

.text-black {
    color: var(--black);
}

.text-purple {
    color: var(--purple);
}

p {
    font-size: var(--font-text);
    line-height: 1.5;
}

.icon {
    font-size: 60px;
    color: var(--blue);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

/* MARGIN - PADDING */
.mt-1_5rem {
    margin-top: 1.5rem;
}

.mb-1_5rem {
    margin-bottom: 1.5rem;
}

.padd-1_5rem {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.padd-top-1_5rem {
    padding-top: 1.5rem;
}

.padd-bott-1_5rem {
    padding-bottom: 1.5rem;
}

.padd-top-3rem {
    padding-top: 3rem;
}

.padd-bott-3rem {
    padding-bottom: 3rem;
}

.padd-top-6rem {
    padding-top: 6rem;
}

.padd-bott-6rem {
    padding-bottom: 6rem;
}

/* BORDER RADIUS */
.br-1_5rem {
    border-radius: 1.5rem;
}

.br-2rem {
    border-radius: 2rem;
}

.br-50perc {
    border-radius: 50%;
}

/* COLOR CARD */
.card-lightblue {
    background-color: var(--ligthblue);
}

.card-white {
    background-color: var(--white);
}

.card-purple {
    background-color: var(--purple);
    color: var(--white);
}

/* FLEX */
.d-flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

/* BTN */

a.btn {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    font-size: var(--font-xs);
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.btn-purple {
    background-color: var(--purple);
    color: var(--black);
}

.btn-white {
    background-color: var(--white);
    color: var(--black);
}

.btn-width {
    width: 150px;
    text-align: center;
    color: var(--white);
}

/* HEADER */
header {
    background-color: var(--blue);
    padding: 1rem 2rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5rem 0.5rem 0.5rem;
}

/* HEADER MAIN MENU HIDDEN */
header i {
    color: var(--white);
}

header div.main-menu {
    display: none;
}

header .fa-bars:hover {
    cursor: pointer;
}

/* MAIN */
main {
    margin-top: 2rem;
}

#planning,
#features,
#get-started {
    background-color: var(--purple);
}

#intro,
#planning,
#testimonials,
#features,
#about-us,
#get-started,
footer {
    padding: 0 2rem;
    padding-bottom: 3rem;
}

/* prima sezione */
#intro img {
    width: 90%;
}

/* seconda sezione */

#planning img {
    width: 100%;
}

/* terza sezione */

.square-img img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-position: center;
}

/* quarta sezione */


/* quinta sezione */

.square-img-relative {
    position: relative;
    width: 150px;
    height: 150px;
}

.absolute-position-quote {
    top: 0;
    right: 0;
    font-size: 50px;
    color: var(--purple);
}

/* FOOTER */

footer {
    background-color: var(--black);
}


/* RESPONSIVE */
/* @media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }

    .section4 {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    .section4-wrapper-white {
        width: calc((100% / 2) - 1.5rem);
    }
} */

/* @media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    header i.fa-bars {
        display: none;
    }

    header div.main-menu {
        display: block;

    }

    header nav ul {
        display: flex;
    }

    div.main-menu li {
        list-style: none;
        padding: 1rem;
    }

    div.main-menu a {
        text-decoration: none;
        color: var(--white);
    }
} */

/* @media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .section4-wrapper-white {
        width: calc((100% / 3) - 1.5rem);
    }
} */