:root {
    --black: #000;
    --white: #fff;
    --blue: #0084FD;
    --ligthblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --color-text: #738CA2;
    --font-xs: 16px;
    --font-s: 24px;
    --font-m: 30px;
    --font-l: 42px;
    --font-xl: 50px;
    --font-xxl: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

body {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--font-xl);
}

h2 {
    font-size: var(--font-l);
}

h3 {
    font-size: var(--font-m);
}

h4 {
    font-size: var(--font-s);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

/* BTN */

.btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    font-size: var(--font-xs);
}

a.btn {
    text-decoration: none;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

/* HEADER */
header {
    background-color: var(--blue);
    padding: 1rem 2rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5rem 0.5rem 0.5rem;
}

/* HEADER MAIN MENU HIDDEN */
header i {
    color: var(--white);
}

header div.main-menu {
    display: none;
}

header .fa-bars:hover {
    cursor: pointer;
}


/* MAIN */
main {
    text-align: center;
    margin-top: 2rem;
}

#planning,
#features,
#get-started {
    background-color: var(--purple);
}

/* prima sezione */
#intro {
    padding: 0 2rem;
}

.card {
    background-color: var(--ligthblue);
    margin-bottom: 1.5rem;
    border-radius: 2rem;
}

main img {
    width: 70%;
}

div.card h3,
div.card a {
    margin-bottom: 1rem;
}

div.card h3 {
    color: var(--blue);
    padding-top: 1rem;
}

div.card>i {
    color: var(--blue);
    font-size: var(--font-xxl);
    padding-top: 2rem;
}

div.card>p {
    padding: 0 2rem 2rem 2rem;
}

/* seconda sezione */
#planning {
    padding: 0 2rem;
    color: var(--white);
}

.section2-wrapper-white {
    background-color: var(--white);
    color: var(--black);
    border-radius: 4rem;
}

.fa-arrow-down {
    font-size: 40px;
    color: var(--black);
}

.btn-purple {
    background-color: var(--purple);
    color: var(--white);
    padding: 1rem;
    border-radius: 50%;
}

/* terza sezione */
#testimonials {
    padding: 0 2rem;
    color: var(--black);
}

.section3-wrapper-purple {
    background-color: var(--purple);
    color: var(--white);
    border-radius: 4rem;
}

#testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
}

#testimonials div.section3-wrapper-purple {
    font-size: var(--font-xs);
    font-style: oblique;
}

div.section3-wrapper-purple h4 {
    font-style: normal;
    text-transform: uppercase;
}

/* quarta sezione */
#features {
    padding: 0 2rem;
    color: var(--white);
}



.section4-wrapper-white {
    background-color: var(--white);
    color: var(--purple);
    text-align: left;
    border-radius: 4rem;
    padding: 2rem;
}

/* FOOTER */
footer {
    background-color: var(--black);
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    header i.fa-bars {
        display: none;
    }

    header div.main-menu {
        display: block;

    }

    header nav ul {
        display: flex;
    }

    div.main-menu li {
        list-style: none;
        padding: 1rem;
    }

    div.main-menu a {
        text-decoration: none;
        color: var(--white);
    }



}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }


}