:root {
    --black: #000;
    --white: #fff;
    --blue: #0084FD;
    --ligthblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --color-text: #738CA2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

body {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

/* BTN */

.btn {
    display: inline-block;
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 2rem;
}

a.btn {
    color: var(--white);
    text-decoration: none;
}

/* HEADER */
header {
    background-color: var(--blue);
    padding: 1rem 2rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5rem 0.5rem 0.5rem;
}

/* HEADER MAIN MENU HIDDEN */
header i {
    color: var(--white);
}

header div.main-menu {
    display: none;
}

/* MAIN */
#planning,
#features,
#get-started {
    background-color: var(--purple);
}

#intro {
    padding: 0 2rem;
    /* padding-top: 30px; */
}

.card {
    background-color: var(--ligthblue);
    /* margin-bottom: 1.5rem;
    border-radius: 2rem; */
}

/* main img {
    width: 100%;
} */

/* 
div.card h3,
div.card p,
div.card a {
    margin: 1rem;
} */

div.card h3 {
    color: var(--blue);
    /* padding-top: 1rem; */
}

/* FOOTER */
footer {
    background-color: var(--black);
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);

        /* margin-left: -0.75rem;
        margin-right: -0.75rem; */
    }
}

/* @media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
} */

/* @media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
} */